.navpath{
  box-shadow: 0 3px 10px 0 #0000003b;
}
.btncontainer{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.picturebtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picturebtn a{
  margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .btncontainer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modalbtn{
    margin-top: 10px;
  }
}

