

body {
  margin: 10;
  padding: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Make the container take up the full height of the viewport */
}

.content-container {
  display: flex; /* Display SideBar and TableComponent horizontally */
}

/* Style for NavigationBar, SideBar, and TableComponent */
.NavigationBar {
  background-color: #282c34;
  color: white;
  padding: 10px;
}

.SideBar {
  background-color: #f0f2f5;
  color: white;
  padding: 10px;
  width: 200px;
}

.TableComponent {
  flex: 1;
  padding: 8px;
  
  width: 100%;
}

/* Add styles for other components as needed */
